<p id="notice"><%= notice %></p>
<div class="container content my-4">
  <h1>Flats</h1>
    <div class="cards">
      <% @flats.each do |flat| %>
        <div class="grid-card">
          <div class="card-product-infos">
            <div>
              <h3><%= link_to flat.name.capitalize, flat_path(flat), class: "text-decoration-none" %></h5>
              <p class="mb-2"><%= flat.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <br>

  <%= link_to 'New Flat', new_flat_path %>
</div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
